<!DOCTYPE html>
<html lang="en">

<%- include("partials/head.ejs", {title: "Create a new post"}) %>

<body>
  <div class="container col-6 vh-100">
    <div class="blog-header">
      <h1>Create post</h1>
    </div>
    <form id="new-post-form" class="form" method="post" action="/posts">
      <input class="input-text" type="text" name="title" placeholder="Title" required>
      <input class="input-text" type="text" name="author" placeholder="Author" required>
      <textarea class="input-content" name="content" placeholder="Content" required rows="10"></textarea>
      <button id="create-post" class="btn" type="submit">
        Create post
      </button>
    </form>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>

</html>